
<div class="container-fluid">
	<div class="row">
		<div class="jumbotron">
			<h1>Welcome to Book of Onion Backend Devs Room</h1>
			<p>We are here tinkering the docs and databases of the game...</p>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>
