<!-- Default home page -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="page-header">
			  	<h1>Actors <br>
			  	<small>Just Edit and watch</small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Actors List on Real Time -->
		<div class="col-sm-12 col-md-12">
			<h1>List to be here</h1>
		</div>
	</div>
</div>
